extends ../base
include ../../shared/form

block content

    header.bg-white.p-3.mb-3.border-bottom
        nav
            ol.breadcrumb.m-0
                li.breadcrumb-item
                    a(href=get('admin_dashboard'))= trans('home')
                li.breadcrumb-item
                    a(href=get('admin_users'))= trans('users')
                li.breadcrumb-item.active= trans('create_user')

    section.container-fluid

        div.m-4.p-4.bg-white.rounded.border.shadow-sm
            h1.d-flex.align-items-center.h2.mb-4
                i.me-2(icon-name="user-plus", width=26, height=26, stroke-width=3)
                span= trans('create_user')

            if error
                p.alert.alert-danger= trans(error)

            form(action=post('admin_create_user'), method="post")
                +input('username', form)
                +input('password', form)
                +input('activated', form)

                button.btn.btn-success(type="submit")= trans('actions.create')
