extends ../base
include ../../shared/form

block content

    header.bg-white.p-3.mb-3.border-bottom
        nav
            ol.breadcrumb.m-0
                li.breadcrumb-item
                    a(href=get('admin_dashboard'))= trans('home')
                li.breadcrumb-item
                    a(href=get('admin_users'))= trans('users')
                li.breadcrumb-item.active= trans('edit_user')

    section.container-fluid

        div.m-4.p-4.bg-white.rounded.border.shadow-sm
            h1.d-flex.align-items-center.h2.mb-4
                i.me-2(icon-name="user-check", width=26, height=26, stroke-width=3)
                span= trans('edit_user')

            if error
                p.alert.alert-danger= trans(error)

            form(action=post('admin_edit_user', { id: form.data._id }), method="post")
                +input('username', form)

                div.form-group.mb-4
                    label(for="password")= trans('form.label.password')
                    input#password.form-control(name="password", type="text", class=(form.errors.password ? "is-invalid" : ""))
                    if form.errors.password
                        span.invalid-feedback=form.errors.password

                +input('activated', form)

                button.btn.btn-success(type="submit")= trans('actions.save')
