extends ../base
include ../../shared/form

block content

    header.bg-white.p-3.mb-3.border-bottom
        nav
            ol.breadcrumb.m-0
                li.breadcrumb-item
                    a(href=get('admin_dashboard'))= trans('home')
                li.breadcrumb-item.active= trans('users')

    section.container-fluid

        include ../includes/alert

        div.m-4.bg-white.rounded.border.shadow-sm
            header.p-4
                h1.d-flex.align-items-center.h2.m-0
                    i.me-2(icon-name="users", width=26, height=26, stroke-width=3)
                    span= trans('manage_users')

            div.row.g-0.border-top.border-bottom.bg-light.p-4
                div.col
                    form.d-flex.justify-content-start(action=get('admin_users'))
                        +input('search', form)
                        +input('limit', form)

                        button.d-flex.align-items-center.btn.btn-outline-secondary(type="submit")
                            i.me-2(icon-name="search")
                            span= trans('actions.search')

                div.col.text-end
                    a.d-flex-inline.align-items-center.btn.btn-primary(href=path('admin_create_user'))
                        i.me-2(icon-name="user-plus")
                        span= trans('actions.create_new_user')

            div.p-4
                table.table.align-middle
                    thead
                        tr
                            th #
                            th= trans('username')
                            th= trans('activated')
                            th= trans('created_at')
                            th= trans('last_logged_at')
                            th.text-end= trans('button_actions')

                    tbody
                        each user in users
                            tr
                                td= user._id
                                td= user.username
                                td
                                    if user.activated
                                        span.d-flex-inline.align-items-center.badge.rounded-pill.text-bg-success
                                            i.me-1(icon-name="check", width=14, height=14)
                                            span= trans('yes')
                                    else
                                        span.d-flex-inline.align-items-center.badge.rounded-pill.text-bg-danger
                                            i.me-1(icon-name="x", width=14, height=14)
                                            span= trans('no')

                                td= date(user.createdAt)
                                td= user.lastLoggedAt ? time(user.lastLoggedAt) : null
                                td.text-end
                                    div.btn-group.btn-group-sm
                                        a.d-flex.align-items-center.btn.btn-primary(href=path('admin_read_user', { id: user._id }))
                                            i.me-1(icon-name="pencil", width=18, height=18)
                                            span= trans('actions.edit')

                                        button.d-flex.align-items-center.btn.btn-danger(form="delete-user-" + user._id)
                                            i.me-1(icon-name="trash", width=18, height=18)
                                            span= trans('actions.delete')

                                    form(id="delete-user-" + user._id, action=post('admin_delete_user', { id: user._id }), method='post', onsubmit="return confirm('" + trans('do_you_really_perform') + "')")
