footer.main-footer.fixed-bottom
    div.container.p-4.text-center
        p.m-0.copyright
            span © #{(new Date()).getFullYear()}
            span #{settings('websiteName')}, #{trans('all_right_reserved')} - #{settings('websiteContact')} -&nbsp;
            a(href=get('admin_dashboard'))=trans('admin')
