footer.main-footer.fixed-bottom
    div.container.p-4.text-center
        p.m-0.copyright
            span.me-1 © #{(new Date()).getFullYear()}
            span.me-1 #{settings('websiteName')}, #{trans('all_right_reserved')} - #{settings('websiteContact')} -
            a(href=get('admin_dashboard'))=trans('admin')
