extends base

block content

    header.bg-white.p-3.mb-3.border-bottom
        nav
            ol.breadcrumb.m-0
                li.breadcrumb-item
                    a(href=get('admin_dashboard'))= trans('home')
                li.breadcrumb-item.active=trans('about_software')

    section.container-fluid

        div.m-4.p-4.bg-white.rounded.border.shadow-sm
            h1=trans('about_software')
            p
                | #{trans('actual_version')} : #[span.badge.bg-primary=version]
                a.ms-2(href=bugs, target="_blank")
                    i(icon-name="bug")
                    span=trans('make_issue')

            h2=trans('changelog')
            hr
            | !{markdownToHtml(changelog)}
