nav.mb-auto
    ul.nav.nav-pills.flex-column
        li.nav-item.mb-2
            a.d-flex.align-items-center.nav-link(href=get('admin_dashboard'), class=(is('admin_dashboard') ? 'active' : 'text-white'))
                i.me-3(icon-name="home")
                span= trans('dashboard')

        li.nav-item.mb-2
            a.d-flex.align-items-center.nav-link(href=get('admin_users'), class=(is('admin_users') ? 'active' : 'text-white'))
                i.me-3(icon-name="users")
                span= trans('users')

        li.nav-item.mb-2
            a.d-flex.align-items-center.nav-link(href=get('admin_pages'), class=(is('admin_pages') ? 'active' : 'text-white'))
                i.me-3(icon-name="files")
                span= trans('pages')

        li.nav-item.mb-2
            a.d-flex.align-items-center.nav-link(href=get('admin_settings'), class=(is('admin_settings') ? 'active' : 'text-white'))
                i.me-3(icon-name="settings")
                span= trans('settings')
