mixin pagination(currentPage, totalPages)
    - currentPage = parseInt(currentPage);
    - totalPages = parseInt(totalPages);

    - var url = '';
    each value, key in query()
        if key !== 'page'
            - url += `&${key}=${value}`

    if totalPages > 1
        nav
            ul.pagination.justify-content-end
                li.page-item(class=currentPage === 1 ? 'disabled' : '')
                    a.page-link(href='?page=1' + url, title=trans('previous'))
                        i(icon-name="arrow-left")

                each page in [currentPage - 4, currentPage - 3, currentPage - 2, currentPage - 1, currentPage, currentPage + 1, currentPage + 2, currentPage + 3, currentPage + 4]
                    li
                        if page < 1 || page > totalPages
                        else
                            li.page-item
                                a.page-link(href='?page=' + page + url, class=page === currentPage ? 'active' : '')= page

                li.page-item(class=currentPage === totalPages ? 'disabled' : '')
                    a.page-link(href='?page=' + totalPages + url, title=trans('next'))
                        i(icon-name="arrow-right")
