include ../shared/asset
include ../shared/elements

doctype html
html(lang=locale)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        block description
            meta(name="description", content=settings('metaDescription', true))

        meta(name="author", content=settings('metaAuthor'))
        meta(name="robots", content="noindex")

        block metadata
            meta(property="og:title", content=settings('metaTitle', true))
            meta(property="og:description", content=settings('metaDescription', true))
            meta(property="og:url", content=url)

        meta(property="og:type", content="website")

        block title
            title=settings('metaTitle', true)

        link(rel="icon", type="image/png", href="/images/favicon.ico")
        link(rel="canonical" href=canonical)

        block style
            +asset_css('front', 'front', true)

        +asset_js('front', 'common', true)
        +asset_js('front', 'front', true)

        script(async, defer, data-website-id=analytics.websiteId, src=analytics.url)

        block script

    body
        div.page-wrap
            include includes/nav
            block content
            include includes/footer
