extends ../layout.pug

block title
    title=data.title[locale]

block description
    meta(name="description", content=data.shortDescription[locale])

block metadata
    meta(property="og:title", content=data.title[locale])
    meta(property="og:description", content=data.shortDescription[locale])
    meta(property="og:url", content=url)

block content
    div.container.mt-5 !{data.content[locale]}
