extends ../base
include ../../shared/form

block content

    header.bg-white.p-3.mb-3.border-bottom
        nav
            ol.breadcrumb.m-0
                li.breadcrumb-item
                    a(href=get('admin_dashboard'))= trans('home')
                li.breadcrumb-item.active= trans('settings')

    section.container-fluid

        include ../includes/alert

        div.m-4.bg-white.rounded.border.shadow-sm
            header.p-4
                h1.d-flex.align-items-center.h2.m-0
                    i.me-2(icon-name="cog", width=26, height=26, stroke-width=3)
                    span= trans('manage_settings')

            div.p-4
                if error
                    p.alert.alert-danger= trans(error)

                form(action=post('admin_settings_edit'), method="post")
                    h4= trans('application')
                    hr
                    +input('websiteName', form)
                    +input('websiteContact', form)

                    h4= trans('meta_data')
                    hr
                    +input('metaAuthor', form)
                    +input('metaTitle', form)
                    +input('metaDescription', form)

                    button.btn.btn-success(type="submit")= trans('actions.save')
